@model IEnumerable<Faps.Models.Interview>

@{
    ViewBag.Title = "Listar_interviews";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}

@Styles.Render("~/Content/themes/base/jquery-ui.css")
@Scripts.Render("~/Scripts/jquery-3.5.1.js")
@Scripts.Render("~/Scripts/jquery-ui.js")


<h2>Entrevistas Agendadas</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Entrevistador)
        </th>
        <th>
            @Html.DisplayName("Nome do Candidato")

        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data_Entrevista)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data_criacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status_interview)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vaga)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Entrevistador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuarios.Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_Entrevista)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_criacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status_interview)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vaga)
            </td>

            <td>
                <button class="btn btn-info" onClick="Feedback(@item.Codigo_entrevista)">Concluir</button> |
                <button class="btn btn-warning" onClick="Editar_interview(@item.Codigo_entrevista)">Remarcar</button> |
                @Html.ActionLink("Cancelar", "Deletar_interview", new { id = item.Codigo_entrevista }, new { @class = "btn btn-danger delete" })
            </td>
        </tr>
    }

</table>

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Remarcar Entrevista</h3>
            </div>
            <div class="modal-body" id="myModalBodyDiv">

            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="FeedbackModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">FeedBack da entrevista</h3>
            </div>
            <div class="modal-body" id="myModalBodyDiv">
                @using (Html.BeginForm("Feedback", "Admin", FormMethod.Post))
                {
                <div>
                    <input type="hidden" name="Codigo_entrevista" id="Codigo_entrevista" />

                    <h4>
                        Detalhe como foi sua experiencia em entrevistar o candidato ou
                        faça um resumo construtivo para apoiar o candidato em possiveis melhorias
                        ou elogios relacionados a entrevista
                    </h4>
                    <div class="field">
                        <textarea class="feedbackText" name="DescricaoAtividades" required></textarea>
                    </div>

                        <br>
                        <input type="submit" value="Concluir" class="btn btn-success" />
                    </div>
                    }
                </div>
        </div>
    </div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        var Editar_interview = function (Codigo_entrevista) {

            var url = "/Admin/Editar_interview?id=" + Codigo_entrevista;

            $("#myModalBodyDiv").load(url, function () {
                $("#myModal").modal("show");
            })
        }



        var Feedback = function (Codigo_entrevista) {

            var id = Codigo_entrevista;

            $(".modal-body #Codigo_entrevista").val(id);

            $("#FeedbackModal").modal("show");
        }


    </script>
}