<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario - FAPS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inver navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                @Html.ActionLink("Inicio", "User_home", "User", new { area = "" }, new { @class = "navbar-brand" })

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Meu Curriculo", "Listar_curriculo", "User")</li>
                    <li>@Html.ActionLink("Feedbacks", "Listar_Feedback", "User")</li>
                    <li>@Html.ActionLink("Logout", "Logout", "User")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <br />
        <h3>Bem Vindo: @ViewBag.nome </h3>
        <br />
        @RenderBody()
        <br />
        <br />
        <br />
        <br />
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Ferramenta Auxiliar para Processos Seletivos - Todos os direitos reservados</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
